{% extends "view_template.html" %}
{% block title %} Choosing image {% endblock %}

{% block js_includes %}
<script type="text/javascript" src="{{ MEDIA_URL }}choose_image/flickr.js"></script>
{% endblock %}

{% block body  %}

Choosing image for the page number {{ page.number }} of  {{ user.username }}'s Album {{ album.name }}.
<br>
You have to click in the image that you want.
<table>
<tr>

{% if listing %}
These are the images in your database.
{% for file in listing %}
<td>
<table>
<tr><td> 
<a href="../../asign_image/{{nImage}}/{{file}}">
 <img src="{{ MEDIA_URL }}images/{{user.username}}/{{file}}"width="150" height="110"> 
</a>
</td></tr>
</table>
</td>
{% endfor %}
</tr>
</table>
{% else %}
You don't have images in your database.<br>
<a href="{% url space.images.views.images user.username%}">Click here to start to upload images!</a>
{% endif %}
<br>

<div id="search_flickr">If you want to use the best images of <img src="{{ MEDIA_URL }}choose_image/flickr.gif" />
	in your album, just write one topic here: </div>
<div id="images"></div>
<br>

<a href="{% url pages user.username album.id %}?page={{page.number}}">Cancel</a></br>
<br>
<a href="../../../../">Back to album</a></br>
{% endblock %}