{% extends "view_template.html" %}
{% block title %} Editing page {{ page.id }} of  {{ user.username }}'s Album {{ album.name }} {% endblock %}

{% block body  %}

This page has the layout {{ page.layout }}, so you have to choose {{ page.layout }} pictures.

<tr>
<td>
<table>
<tr><td>
{% for img in set_images %}
<a href="choose_image/{{img.pos}}/"><img src="{{img.file}}" width="150" height="110"/></a>
{% endfor %}
</td></tr>
<tr><td></td></tr>
</table>
</td>
</tr>
<br>

<a href="../../">Back</a></br>
{% endblock %}