<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Login</title>
</head>
{% load url from future %}
<body>
<form action="login/" method="post">
{% csrf_token %}
<label>Username: <input name="username" required></label></br>
<label>Password: <input name="password" type="password" required></label></br>
<input type="submit" value="Log in">
<input type="hidden" name="next" value="{{ form.username }}/" />
</form>
</body>
</html>