{% extends "view_template.html" %}
{% block title %} {{ user.username }}'s pictures {% endblock %}
 
{% block body  %}
<h1>Upload more images:</h1>
<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Upload image">
</form>

{% endblock %}

{% block footer %}

<a href="{% url space.views.home user.username %}">Home</a></br>
<a href="/access/logout/">Logout</a></br>
WSD - Web Software Development Authors: Daniel Bailo - Diego Garcia - Xavi Magrinya 
{% endblock %}