{% extends "view_template.html" %}
{% block title %} {{ user.username }}'s pictures {% endblock %}
 
{% block body  %}
<table>
<tr>
{% for file in listing %}
<td>
<table>
<tr><td> <img src="{{ MEDIA_URL }}images/{{user.username}}/{{file}}" width="150" height="110" /></td></tr>
<tr><td><a href="delete_image/{{file}}">Delete Image</a></td></tr>
</table>
</td>
{% endfor %}
</tr>
</table>

<h1>Upload more images:</h1>
<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Upload image">
</form>

{% endblock %}

{% block footer %}

<a href="{% url space.views.home user.username %}">Home</a></br>
<a href="/access/logout/">Logout</a></br>
WSD - Web Software Development Authors: Daniel Bailo - Diego Garcia - Xavi Magrinya 
{% endblock %}