@CHARSET "UTF-8";

#handler {
	text-align:center;
	width:auto;
	max-width:820px;
	height:500px;
	min-height:500px;
	max-height:500px;
	margin:auto;
	padding: 10px 0px 0px 0px;
}
#next, #back {
	min-width:60px;
}
#images {
	min-width:740px;
	height:100%;
}
.img1 {
	max-width:100%;
	max-height:500px;
}
.img2 {
	max-height:248px;
	max-width:100%;
}
.img31 {
	max-height:500px;
	max-width:368px;
}
.img32 {
	max-height:248px;
	max-width:368px;
}
	
#dynamicContent {
	text-align:center;
	min-width:100%;
	margin:0px;
}

#oneFirst {
	max-height:100%;
	max-width:100%;
	border:dashed #000 1px;
	overflow:hidden;
}
#twoFirst {
	width:738px;
	height:248px;
	border:dashed #000 1px;
	overflow:hidden;
}
#twoSecond {
	width:738px;
	height:248px;
	border:dashed #000 1px;
	overflow:hidden;
}
#threeFirst {
	width:368px;
	height:100%;
	float:left;
	border:dashed #000 1px;
	overflow:hidden;
}
#threeSecond {
	width:368px;
	height:50%;
	float:right;
	overflow:hidden;
	border:dashed #000 1px;
}
#threeThird {
	width:368px;
	height:50%;
	float:right;
	overflow:hidden;
	border:dashed #000 1px;
}

