@CHARSET "UTF-8";

html,body {
	margin:0;
	height:100%;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	
}

div.header {
	color: white;
	background-color: blue;

	
}

.header a:link {
	color:white;
}
.header a:visited {
	color:white;
}