<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css">
<title>{% block title %}Create an account{% endblock %}</title>
</head>

<body>

<div class="wrapper">
<div class="up">
<div id="logo">
<a href="/"><img src="{{STATIC_URL}}images/logo.png" alt="logo"></a> 
<div class="registration">
{% block body %}
  <h1>Create an account</h1>
   <form action="." method="post">
   {% csrf_token %}  
	  <ul>
	    {{ form.as_ul }}
	    <li>
	      <input type="submit" value="Create the account">
	    </li>
	  </ul>
  </form>
{% endblock %}
</div>
</div>
</div>
</div>

<div class='footer'>WSD - Web Software Development Authors: Diego Garcia - Xavi Magrinya</div>

</body>
</html>