<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<div class="wrapper">
<div class="up">
<div id="logo">
<a href="/"><img src="/static/logo.png"></a> 
	</div>
    <div id="login">
    {% block body %}{% endblock %}
    </div>
    </div>
<div class="content">
<div class="contener">
<div class="intro">
	<p>Cupcake ipsum dolor sit amet. Ice cream dragée topping carrot cake icing chocolate cake. Chocolate bar marshmallow danish cotton candy.</p>

    <img src="/static/connecting.png">
    
</div>
<div class="socialLogin">
    <p>Don't you have an account? <a href="/access/register/">Sign up here!</a></p>
    <p>Do you already have an account with Twitter?</p>
    <p><a href="/social_auth/login/twitter"><img src="/static/dark.png"></a></p>
    <p>You can also log in with Facebook</p>
    <p><a href="/social_auth/login/facebook"><img src="/static/facebook_login_button.png"></a></p>
    <p>Or with your Google account</p>
    <p><a href="/social_auth/login/google"><img src="/static/google.png"></a></p>
    
    </div>
    </div>
    </div>
</div>
	<div class='footer'>{% block footer %}{% endblock %}</div>
</body>
</html>
