{% extends "basic_template.html" %} 
{% block title %}Welcome to Pagebook!{% endblock %} 
{% block body %} {% load url from future %}
<form action="access/login/" method="post"> 
{% csrf_token %} 
<table id="loginTable">
<tr>
	<td><label>Username: <input name="username"></label></td>
	<td><label>Password: <input name="password" type="password"></label></td>
    <td><input type="submit" value="Log in"></td>
</tr><tr>
    <td rowspan="2"> <a href="/social_auth/login/twitter">Enter using your Twitter!</a></td>
    <td rowspan="3"> <a href="/social_auth/login/facebook">Enter using your Facebook!</a></td>
    <td rowspan="4"> <a href="/social_auth/login/google">Enter using Google!</a></td>
</tr>
</table>
<input type="hidden" name="next" value="{{ form.username }}/">
</form>

{% endblock %} 

{% block footer %} 
<a href="/access/register/">Don't you have account? CLICK HERE!</a>
WSD - Web Software Development Authors: Daniel Bailo - Diego Garcia - Xavi Magrinya {% endblock %}
