<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<link rel="stylesheet" type="text/css" href="/css/view.css">
<title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="header">
	{% include "login_bar.html" %}
	</div>
	{% block body %}{% endblock %}
	<div class='footer'>{% block footer %}{% endblock %}</div>
</body>
</html>