{% extends "view_template.html" %}
{% block title %} {% if page in album %}{{ page.album }}{% endif %} - {{ user.username }}'s Album {% endblock %}
{% block body %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=252468388172907";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<table>
<tr>
{% for page in album %}
<td>
<table>
<tr><td>
<a href="view/?page={{ page.number }}">Page {{page.number}}</></td></tr>
{% if user.username == owner.username %}
<tr><td><a href="delete_page/{{ page.id }}/">Delete page</a></td></tr>
{% else %}
<tr><td></td></tr>
{% endif %}
</table>
</td>
{% empty %}
{% if user.username == owner.username %}
No pages yet! Create a new one!
{% else %}
No pages in this album.
{% endif %}
{% endfor %}
</tr>
</table>
</ br>
{% if user.username == owner.username %}
<a href="create_page/">Add page</a></br>

{% endif %}

<a href="https://twitter.com/share" class="twitter-share-button" data-via="diego_G_1988" data-lang="es">Twittear</a>
<script>
	!function(d,s,id){
		var js,fjs=d.getElementsByTagName(s)[0];
		if(!d.getElementById(id)){js=d.createElement(s);
		js.id=id;
		js.src="//platform.twitter.com/widgets.js";
		fjs.parentNode.insertBefore(js,fjs);
		}}(document,"script","twitter-wjs");
</script>

<div class="g-plusone" data-size="medium" data-annotation="inline"></div>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<div class="fb-like" data-send="true" data-width="450" data-show-faces="false" data-font="verdana"></div>

{% if user.username != owner.username %}
<a href="{% url space.views.home owner.username %}">Home of {{ owner.username }}</a></br>
{% else %}
<tr><td></td></tr>
{% endif %}

{% endblock %}
