{% extends "view_template.html" %}
{% block title %} {% if page in album %}{{ page.album }}{% endif %} - {{ user.username }}'s Album {% endblock %}
{% block body %}
<table>
<tr>
{% for page in album %}
<td>
<table>
<tr><td>
<a href="{{ page.id }}/">Page {{page.id}}</></td></tr>
{% if user.username == owner.username %}
<tr><td><a href="{{ page.id }}/edit_page/">Edit page</a></td></tr>
<tr><td><a href="delete_page/{{ page.id }}/">Delete page</a></td></tr>
{% else %}
<tr><td></td></tr>
{% endif %}
</table>
</td>
{% empty %}
{% if user.username == owner.username %}
No pages yet! Create a new one!
{% else %}
No pages in this album.
{% endif %}
{% endfor %}
</tr>
</table>
</ br>
{% if user.username == owner.username %}
<a href="create_page/">Add page</a>

{% endif %}

{% endblock %}

{% block footer %}
{% if user.username != owner.username %}
<a href="{% url space.views.home owner.username %}">Home of {{ owner.username }}</a></br>
{% else %}
<tr><td></td></tr>
{% endif %}
<a href="/access/logout/">Logout</a></br>
WSD - Web Software Development Authors: Daniel Bailo - Diego Garcia - Xavi Magrinya 
{% endblock %}