{% extends "view_template.html" %}
{% block title %}Albums of {{owner.username}}{% endblock %}

{% block body %}

{% if user.username != owner.username %}
<h1>"{{owner.username}}" albums</h1>
{% endif %}

<div id="tablas">

{% for album in albums %}
<div id="section{{album.id}}">
<table>
<tr><td><a href="{% url show_album owner.username album.id %}">{{ album.name }}</a></td></tr>
{% if album.private %} 
<tr><td>Private</td></tr>
{% else %}
<tr><td>Public</td></tr>
{% endif %}
{% if user.username == owner.username %}
<tr><td><a href="{% url delete_album owner.username album.id %}">
	<img src="{{STATIC_URL}}images/delete.jpg" alt="delete"/></a></td></tr>
{% endif %}
</table>
</div>
{% empty %}
{% if user.username == owner.username %}
No albums yet! Create a new one!<br/>
{% else %}
The user has not any album that you are able to see.<br/>
{% endif %}
{% endfor %}
</div>
<br/>

{% if user.username == owner.username %}
<a href="create_album/"> Create new album!</a><br/>
<a href="images/"> IMAGES</a><br/>
<a href="change_pass/">Do you want to change your password?</a><br/>
{% endif %} 
{% endblock %}