{% extends "view_template.html" %}
{% block title %}Albums of {{owner.username}}{% endblock %}

{% block body %}

{% if user.username != owner.username %}
<h1>"{{owner.username}}" albums</h1>
{% endif %}
<table>
<tr>
{% for album in albums %}
<td>
<table>
<tr><td><a href="{% url show_album owner.username album.id %}">{{ album.name }}</a></td></tr>
{% if album.private %} 
<tr><td>Private</td></tr>
{% else %}
<tr><td>Public</td></tr>
{% endif %}
{% if user.username == owner.username %}
<tr><td><a href="{% url delete_album owner.username album.id %}">
	<img src="{{ STATIC_URL }}images/delete.jpg" /></a></td></tr>
{% endif %}
</table>
</td>
{% empty %}
{% if user.username == owner.username %}
No albums yet! Create a new one!
{% else %}
The user has not any album that you are able to see.
{% endif %}
{% endfor %}
</tr>
</table>
{% if user.username == owner.username %}
<a href="create_album/">Create new album!</a></br>
<a href="images/">IMAGES</a><br>
{% endif %} 
<a href="change_pass/">Do you want to change your password?</a></br>
{% endblock %}