{% extends "view_template.html" %}

{% block body %}
<div id="formLayout">
<form action="." method="post" id="form"> {% csrf_token %}
<table id="layoutTable">
<tr>
<td><img src="{{STATIC_URL}}images/layout1.png" alt="layout1"/></td>
<td><img src="{{STATIC_URL}}images/layout2.png" alt="layout2"/></td>
<td><img src="{{STATIC_URL}}images/layout3.png" alt="layout3"/></td>
</tr>
<tr>
<td><input type="radio" name="layout" value="1" checked="true"></td>
<td><input type="radio" name="layout" value="2"></td>
<td><input type="radio" name="layout" value="3"></td>
</tr>
</table>
<input type="submit" value="Create page">
</form>
</div>


<a href="../">Back</a><br/>

{% endblock %}