{% extends "view_template.html" %}
{% block js_includes %}
<script type="text/javascript" src="{{ MEDIA_URL }}/create_album/create_album.js"></script>
{% endblock %}

{% block body %}

<form name="myForm" action="." onsubmit="return validateForm()" method="post"> {% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Create album" />
</form>

<a href="../">Back</a></br>
{% endblock %}
{% block footer %}
WSD - Web Software Development Authors: Daniel Bailo - Diego Garcia - Xavi Magrinya 
{% endblock %}