{% extends "view_template.html" %}

{% block body %}
<div id="formLayout">
<form action="." method="post" id="form"> {% csrf_token %}
<table id="layoutTable">
<tr>
<td><img src="/static/images/layout1.png" /></td>
<td><img src="/static/images/layout2.png" /></td>
<td><img src="/static/images/layout3.png" /></td>
</tr>
<tr>
<td><input type="radio" name="layout" value="1" checked="true"></td>
<td><input type="radio" name="layout" value="2"></td>
<td><input type="radio" name="layout" value="3"></td>
</tr>
</table>
<input type="submit" value="Create page">
</form>
</div>


<a href="../">Back</a></br>

{% endblock %}