<table id="handler">
<tr><td id="back">

{% if page_back != -1 %}
<a href="{% url space.views.render_page owner.username album.id page_back %}">
<img src="/static/left.png" /></a>
{% endif %}
</td>
<td id="images">

    {% if page.layout == 1 %}
    <div id="oneFirst">
		<img class="img1" src="{{img1.file}}" />
    </div>
    {% endif %}
    
    {% if page.layout == 2 %}
    <div id="twoFirst"><img class="img2" src="{{img1.file}}" /></div>
    <div id="twoSecond"><img class="img2" src="{{img2.file}}" /></div>
    {% endif %}
    
    {% if page.layout == 3 %}
    <div id="threeFirst"><img class="img31" src="{{img1.file}}" /></div>
    <div id="threeSecond"><img class="img32" src="{{img2.file}}" /></div>
    <div id="threeThird"><img class="img32" src="{{img3.file}}" /></div>

    {% endif %}

</td>
<td id="next">
{% if page_next != -1 %}
<a href="{% url space.views.render_page owner.username album.id page_next %}">
<img src="/static/right.png" /></a>
{% endif %}

</td>
</tr>
</table>

    {% if user.username == owner.username %}
    <a href="../create_page/">Add page</a></br>
    {% endif %}
    <a href="../">Back to album</a></br>
<script type="text/javascript" src="/static/js_image.js"></script>