<script type="text/javascript" src="/static/js/js_image.js"></script>

<table id="handler">
<tr><td id="back">
{% if page_back != -1 %}
<a href="{% url pages owner.username album.id page_back%}">
<img src="/static/images/left.png" /></a>
{% endif %}
</td>

<td id="images">
 {% for img in set_images %}
	    <div id="image{{page.layout}}{{img.pos}}">
	    	{% if user.username == owner.username %}
	    	<a href="{% url choose_image owner.username album.id page.number img.pos%}">
	    		<img class="img{{page.layout}}{{img.pos}}" src="{{img.file}}" />
	    	</a>
	    	{% else %}
	    	<img class="img{{page.layout}}{{img.pos}}" src="{{img.file}}" />
	    	{% endif %}		
	    </div>
  {% endfor %}
</td>

<td id="next">
{% if page_next != -1 %}
<a href="{% url pages owner.username album.id page_next%}">
<img src="/static/images/right.png" /></a>
{% endif %}
</td>
</tr>
</table>

{% if user.username == owner.username %}
<a href="../create_page/">Add page</a></br>
{% endif %}
<a href="../">Back to album</a></br>
