<div id="handler">
<div id="back">
{% if page_back != -1 %}
<a href="{% url space.views.render_page owner.username album.id page_back %}">
<img src="/static/left.png" /></a>
{% endif %}
</div>

<div id="wrapper">

{% if page.layout == 1 %}
<div id="oneFirst">Layout <br />
<img src="{{ }}" /></div>
{% endif %}


</div>
<div id="next">
{% if page_next != -1 %}
<a href="{% url space.views.render_page owner.username album.id page_next %}">
<img src="/static/right.png" /></a>
{% endif %}
</div>
</div>
ID: {{ page.id }}
Page number: {{ page.number }}
Layout: {{ page.layout }}
{% if user.username == owner.username %}
<a href="../create_page/">Add page</a></br>
{% else %}
<tr><td></td></tr>
{% endif %}
<a href="../">Back to album</a></br>